
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
    content="Online Polling Station For Makerere University, Uganda" />
    <meta name="keywords"
    content="Polling, polling, Polling Station, polling station, Polling-Station, polling-station,
     Makerere Polling Station, makerere polling station, muk polling station, muk poll, STA Poll, sta poll, STA poll" />
    <meta name="robots"
    content="nofollow" />
    <meta http-equiv="author"
          content="Stephen Tipa Augustine" />
    <meta http-equiv="pragma"
     content="no-cache" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {%load static from staticfiles%}
      <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Polling Station</title>
  </head>
  <body>
     <h1> Makerere University Online Polling Station </h1>
     <h2> Welcome to our online resource </h2>
     <p>If you already have an account or you have enrolled into the system then simply login by following the <b>Login</b> link</p>
    <div class="div-a">
        <a href="{% url 'login' %}" class="lonely-a">Login To Your Account</a>
    </div>
    <p>If you don't have an account or you have not enrolled yet into the system then simply <strong>Enroll</strong> by following
        the <b>Enroll</b> link</p>
    <div class="div-a">
        <a href="{% url 'enroll' %}" class="lonely-a">Enroll Into The System</a>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>