{% extends 'student/base.html' %}

{% block content %}
<script type="text/javascript">
    function openForm() {

    document.getElementById("popForm").style.display="block";
    }

    function closeForm() {

    document.getElementById("popForm").style.display="none";
    }
    function openInput() {
        document.getElementById("popInput").style.display="block"
        document.getElementById("popInput").style.alignSelf="center"
    }
    function closeInput() {
        document.getElementById("popInput").style.display="none"
    }
    function openLikes() {
        document.getElementById("popComments").style.display="none"
        document.getElementById("popLikes").style.display="block"
    }
    function openComments() {
        document.getElementById("popLikes").style.display="none"
        document.getElementById("popComments").style.display="block"
    }
    function closeLikes() {
        document.getElementById("popLikes").style.display="none"
    }
    function closeComments() {
        document.getElementById("popComments").style.display="none"
    }

</script>
<h1>Updates and News on Election Status</h1>
<div>Create a post on this site:
<button type="button" class="open-button" onclick="openForm()">Create Post</button></div>
<div class="form-popup" id="popForm">
    <form action="{% url 'student:make_post' %}" class="form-container" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h1>Create a Post</h1>
        <textarea name="post" id="post" cols="30" rows="10">Your post...</textarea>
        <hr />
        <div><b>Upload Image:</b>
        <button type="button" onclick="openInput()" class="open-button">Upload</button>
        </div>
        <div class="imput-popup" id="popInput">
            <input type="file" />
            <button type="button" onclick="closeInput()" class="cancel-btn"><b>Cancel Upload</b></button>
        </div>
        <button type="submit" class="post-btn">Post</button>
        <button type="submit" class="cancel-btn" onclick="closeForm()">Close</button>
    </form>
</div>

{% if l_posts != 0 %}
{% for post in posts %}
    <div class="feed-back-content">
        <div>
            <img src="{{ post.photo.url }}" alt="profile" />
            <h3 style="text-align: left">{{ post.user }}</h3>
            <p>{{ post.post }}</p>
            <span class="time-right">
                {{ post.time }}
            </span>
            <span class="likes-comments">
                <button type="button" onclick="openLikes()" class="like-buttons">Likes</button>({{ post.likes }})
                <a href="{% url 'student:like' slug=post.post %}" class="likes-a">Like</a>
                <button type="button" onclick="openComments()" class="like-buttons">Comments</button>({{ post.comments }})
            </span>

        </div>
                <div class="comment-content" id="popComments">
                    <div>
                        <span>
                            <button onclick="closeComments()" style="float: left; background-color: red" class="like-buttons">
                                Hide Comments</button>
                        <p style="float: none; margin-top: 0; text-align: center; text-decoration: none">
                    <b><u>Comments On This Post:</u></b></p>
                    </span>
                    </div>
                    {% for comment in comments %}
                    {% if post.post == comment.post %}
                    <div class="comment-contents">
                        <img src="{{ comment.photo.url }}" alt="profile" />
                        <h3 style="text-align: left">{{ comment.user }}</h3>
                        <p>{{ comment.comment }}</p>
                        <span class="time-right">
                    {{ comment.time }}
                    </span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

        <div class="comment-content" id="popLikes">
            <div>
                <span>
                    <button onclick="closeLikes()" style="float: left; background-color: red" class="like-buttons">
                    Hide Likes</button>
                    <p style="float: none; margin-top: 0; text-align: center; text-decoration: none">
                    <b><u>Post Likes</u></b></p>
                </span>
            </div>
            {% for like in likes %}
            {% if post.post == like.post %}
                    <div class="comment-contents">
                        <img src="{{ like.photo.url }}" alt="profile" />
                        <h3 style="text-align: left">{{ like.user }}</h3>
                        <span class="time-right">
                        {{ like.time }}
                        </span>
                    </div>
            {% endif %}
            {% endfor %}
        </div>

        <div style="width: 38%; float: bottom">
            <form action="{% url 'student:post_comment' slug=post.post %}" method="POST" class="post-comment-form">
            {% csrf_token %}
            <span class="post-comment">
            <textarea name="comment" id="post-comment" cols="30" rows="1">Your comment...</textarea>
            <button type="submit" class="post-btn">Comment</button>
            </span>
            </form>
        </div>
    </div>
{% endfor %}
{% endif %}

{% endblock %}