{% extends 'candidate/base.html' %}

{% block content %}
<h1>The Current Cabinet</h1>
<hr />
{% if length == 0 %}

    <h2>
        <b style="color: red">Hey dear! Currently we do not have entries in thsi section yet, but very soon we will</b>
    </h2>

{% else %}

    <table class="contestant-image">
     <thead>
     <tr>
         <th colspan="5">Year Of Service</th>
         <th colspan="15">Year Of Service</th>
     </tr>
     <tr>
            <th colspan="7">Full Name</th>
            <th>Sex</th>
            <th>College</th>
            <th colspan="4">Department</th>
            <th>Program</th>
            <th>Year of study</th>
            <th>post</th>
            <th colspan="4">Image Of Official</th>
     </tr>
     </thead>
        <tbody>
        {% for currentCabinet in currentCabinets %}
        <tr>
            <td colspan="7">{{ currentCabinet.full_name }}</td>
            <td>{{ currentCabinet.sex }}</td>
            <td>{{ currentCabinet.college }}</td>
            <td colspan="4">{{ currentCabinet.department }}</td>
            <td>{{ currentCabinet.program }}</td>
            <td>{{ currentCabinet.year_of_study }}</td>
            <td>{{ currentCabinet.post }}</td>
            <td colspan="4"><span> <img src="{{ currentCabinet.photo.url }}" id="contestant-image"
                                             style="width: 100px" alt="Image"> </span></td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endif %}

{% endblock %}